@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #1E1E1E;
    color: white;
    font-size: 1em;
    font-family: 'Inter', sans-serif;
}

/* Início */

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 120px;
    padding: 20px;
    border: 2px solid lightgray;
    border-radius: 15px;
}

header > nav {
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main.page-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 120px 120px 120px;
    font-size: 2em;
}

section.main {
    max-width: 100%;
    height: 635px;
}

section.main > h1 {
    background-image: linear-gradient(to right, #423CED, #1D00C3);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
}

section.main > button {
    background-color: #333333;
    color: white;
    font-size: 1em;
    padding: 20px 60px;
    border-radius: 50px;
    outline: none;
}

section.main > button.projects {
    margin: 60px 50px 0px 0px;
    border: 5px solid #2005C7;
}

section.main > button.cv {
    border: 5px solid #2005C7;
}

section.main > button.projects:hover {
    cursor: pointer;
    transform: translate(-2px, -2px);
    transition: transform 0.1s ease;
}

section.main > button.cv:hover {
    cursor: pointer;
    transform: translate(-2px, -2px);
    transition: transform 0.3s ease;
}

section.main > nav.contacts {
    display: flex;
    margin-top: 80px;
}

section.main > nav.contacts > img {
    width: 50px;
    height: 50px;
}

section.main > nav.contacts > img.gh {
    margin-left: 50px;
}

section.main > nav.contacts > a {
    text-decoration: none;
    color: white;
    margin: 5px;
}

section.main > nav.contacts > a:hover {
    color: lightgray;
}

section.mySelf > img {
    width: 700px;
    height: 700px;
}

/* Meus Projetos */

nav.projects-display {
    display: flex;
}

section.projects > h1 {
    padding: 50px;
    text-align: center;
    background-image: linear-gradient(to right, #423CED, #1D00C3);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
    font-size: 3.5em;
}

nav.projects-display {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 150px;
}

/* Sobre */

section.about > h1 {
    padding: 50px;
    text-align: center;
    background-image: linear-gradient(to right, #423CED, #1D00C3);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
    font-size: 3.5em;
}

section.about > p {
    font-size: 2em;
    padding: 0px 120px;
    margin-top: 30px;
}

section.techs {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.techs > div {
    background-color: #D9D9D9;
    padding: 20px 10px;
    margin: 50px 15px;
    border-radius: 15px;
    border: 3px solid #2005C7;
}

section.techs > div:hover {
    transform: translate(-2px, -2px);
    transition: transform 0.1s ease;    
}

section.techs > div > img {
    width: 75px;
    height: 75px;
}

